fastapi
uvicorn
langgraph
langgraph-checkpoint-sqlite
langchain-openai
langchain-community
langchain-classic
langchain-text-splitters
chromadb
rank_bm25
sentence-transformers
pypdf
python-dotenv
pydantic
pydantic-settings
sse-starlette
ddgs
langchain-ollama
